<div class="card-columns animated fadeIn ">
    <div (click)="verArtista(item)" *ngFor="let item of items; " class="card mt-3 puntero">
        <img [src]="item.images | noImage" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title"> {{item.name | uppercase}} </h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge badge-success p-2 mt-1"> {{artista.name}} </span>
            </p>
        </div>
    </div>
</div>